pytest
jupyterlab
pdbpp
pandas
numpy
pyspark
boto3
moto
aioitertools
requests
numpy
matplotlib
matplotlib-inline
beautifulsoup4
seaborn
pymongo
SQLAlchemy
decorator
entrypoints
ipykernel
ipython
pillow
pyparsing
python-dateutil
scipy
seaborn
telegram
requests
datetime
python-telegram-bot
schedule
apscheduler
