jupyterlab
pandas
numpy
pyspark
boto3
moto
requests
numpy
matplotlib
matplotlib-inline
SQLAlchemy
ipykernel
ipython
pillow
pyparsing
python-dateutil
s3fs
s3transfer
virtualenv
urllib3
typing
py4j
nbclient
nbconvert
nbformat
notebook