pytest
jupyterlab
pdbpp
pandas
numpy
pyspark
boto3
moto
aioitertools
requests
numpy
matplotlib
matplotlib-inline
beautifulsoup4
seaborn
pymongo
SQLAlchemy
decorator
entrypoints
ipykernel
ipython
pillow
pyparsing
python-dateutil
scipy
seaborn
telegram
datetime
python-telegram-bot
schedule
apscheduler
lxml
pre-commit
s3fs
s3transfer
virtualenv
urllib3
typing
snowflake
py4j
nbclient
nbconvert
nbformat
mypy
notebook
black